<h1>Delete <%=@book.title %> </h1> 

<h3>Are you sure you want to delete <%= @book.title %>?</h3> 

<%= link_to "Delete Book", book_path(@book), method: :delete %> 

<br>

<%= link_to "Cancel", book_path(@book) %>